<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meter, baterka, vodováha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="sideMeter">
          <div class="inner">
            <div class="rulers">
              <div *ngFor="let ruler of rulers" class="ruler">
              </div>
            </div>
            <div class="labels">
              <div *ngFor="let label of labels" class="label">
                {{label}}
              </div>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="inner flashLightInner">
          <div class="flashLight" (click)="toggleFlashLight()" [ngClass]="{'active': this.flashLightOn}">
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="balanceItem">
          <div class="inner">
            <div class="center">
              <div class="angle">
                {{ this.angle }}°
              </div>
              <div class="ball" [ngStyle]="{'top.px': this.topPos}">
                
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
