<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Prevodník jednotiek</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
  <ion-card>
    <ion-card-header>
      Čo chcete prevádzať?
    </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formOne" (ngSubmit)="logForm()">
          <div>
            <ion-item class="select">
              <ion-label stacked>Zvoľte, ktorú veličinu chcete prevádzať</ion-label>
              <ion-select formControlName="category" [(ngModel)]="category" interface="popover" (ionChange)="categorySelected()">
                <ion-option *ngFor="let category of categories" [value]="category.key">
                  {{category.name}}
                </ion-option>
              </ion-select>
            </ion-item>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>

        <form [formGroup]="formTwo" (ngSubmit)="convert()">
          <ion-item class="select">
              <ion-select formControlName="convertFrom" [(ngModel)]="convertFrom" interface="popover" (ionChange)="valueSelected()">
                <ion-option *ngFor="let item of items" [value]="item.rate">
                  {{item.name}}
                </ion-option>
              </ion-select>
            <ion-input type="text" formControlName="convertFromVal" [(ngModel)]="convertFromVal" (input)="valueSelected()"></ion-input>
          </ion-item>
          <ion-item class="select">
              <ion-select formControlName="convertTo" [(ngModel)]="convertTo" interface="popover" (ionChange)="valueSelected()">
                <ion-option *ngFor="let item of items" [value]="item.rate">
                  {{item.name}}
                </ion-option>
              </ion-select>
            <ion-input type="text" formControlName="convertToVal" [(ngModel)]="convertToVal" (input)="valueSelectedOposite()"></ion-input>
          </ion-item>
          
          <!--<button ion-button type="submit" [disabled]="!formTwo.valid">Submit</button>-->
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>
