<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meranie vzdialenosti</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding-top>
  <div padding><h2>Zmerajte vzdialenosť dvoch bodov</h2></div>
  <ion-card padding>

    
    <div *ngIf=" step != 1 " class="positions">
      <h3>Začiatočná pozícia</h3>
      LAT: {{ startCoordsLat }}<br>
      LONG: {{ startCoordsLong }}
    </div>
    <div *ngIf=" step == 3 " class="positions">
      <h3>Konečná pozícia</h3>
      LAT: {{ endCoordsLat }}<br>
      LONG: {{ endCoordsLong }}
    </div>
    <div *ngIf=" step == 3 " class="positions">
      <h3>Vzdialenosť</h3>
      {{ distance }} m
    </div>
    <div></div>
    <button ion-button (click)="startTracker()" *ngIf=" step == 1 ">Označiť začiatok</button>
    <button ion-button (click)="endTracker()" *ngIf=" step == 2 ">Označiť koniec</button>
    <button ion-button (click)="resetTracker()" *ngIf=" step == 3 ">Nové meranie</button>
  </ion-card>
  <ion-card padding margin-top>
    Meranie vzdialenosti pomocou GPS je iba orientačné, namerané hodnoty nemusia byť presné. K meraniu je potrebný priamy GPS signál.
  </ion-card>
</ion-content>
